<launch>
    <node name="odometrie" pkg="odo" type="odom2pose.py" output="screen">
        <param name="odo" value="base_link" />
    </node>

    <node name="clusterer" pkg="lidar" type="clusterer.py" output="screen">
        <param name="base_scan" value="base_link" />
    </node>

    <node name="transformer" pkg="lidar" type="transformer.py" output="screen">
        <param name="base_scan" value="base_link" />
    </node>

    <node name="mapper" pkg="mapping" type="mapping.py" output="screen">
        <param name="base_scan" value="base_link" />
    </node>
    <node name="cam" pkg="camera" type="detect.py" output="screen">
        <param name="cam" value="base_link" />
    </node>
    <node name="ultrasound" pkg="ultrasound" type="us_driver.py" output="screen">
        <param name="dist" value="base_link" />
    </node>
    <arg name="transport" default="compressed" />
	<arg name="ns_base" default="turtlebotcam" />
	<arg name="ns_repl" default="camera" />

	<remap from="/$(arg ns_repl)/camera_info" to="/$(arg ns_base)/camera_info" />
	<node pkg="rqt_image_view" type="rqt_image_view" name="rqt_image_view" />
	<node pkg="image_transport" type="republish" name="republisher" args="$(arg transport) in:=/$(arg ns_base)/image_raw raw out:=/$(arg ns_repl)/image_raw" output="screen" />
	<node pkg="image_proc" type="image_proc" name="image_proc" ns="$(arg ns_repl)" />

</launch>
